body {
    background: rgb(172, 127, 255);
    font-family: monospace;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.titulo{
    color: white;
    text-align: center;
}
.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    float: left;
}
.galeria__img {
    flex-wrap: wrap;
    display: flex;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(70%);
    animation: escalar 1.5s infinte alternate;
}
.galeria__img:hover {
    filter: brightness(100%);
}


div.letras{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px white;
    padding: 10px;
}

div.encabezado{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px white;
    padding: 10px;
}

div.texto{
    text-align: center;
    text-shadow: 2px 2px 5px white;
    padding: 10px;
}
