{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estilos_form.css' %}">
<link rel="stylesheet" href="{% static 'app/css/estiloSomos.css' %}">
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

{% endblock %}

{% block contenido %}

<div id="contenido">

    <div class="slider">
        <div>
            <img src="img/banner/banner1.png" alt="">
        </div>
        <div>
            <img src="img/banner/banner2.png" alt="">
        </div>
        <div>
            <img src="img/banner/banner3.png" alt="">
        </div>
    </div>
    {% load humanize %}
    <h2>Productos</h2>
    <div class="productos">
        {% for p in productos %}
        <div class="producto">

            <div class="card">
                <div class="card-body">
                    </class>
                    {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" alt="imagen producto">
                    {% endif %}
                    <div class="detalle">
                        <h5>{{ p.marca | capfirst }}</h5>
                        <h2>{{ p.nombre | title }}</h2>
                        <h5>{{ p.peso }} Kg</h5>
                        <h3>${{ p.precio | intcomma }}</h3>
                        <h3>{{ p.descripcion | capfirst }}</h3>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}